
*.out
*.2b
device/*_build/*
device/*_temp_dir/*
device/logs/*
device/*FastaTo2Bit-*/*
*.log
*.fasta
.run/*
*.xml
*.mk
.Xil/*
*.backup.*
*.swp
*.run_summary
.run/*
*.jou
*.log
*.str
*.csv
screenlog.*
script_build.sh
data/*
*.txt
*.fna
